	
	<div th:insert="~{header}"></div>
	
	 <div class="hospital-detail">
        <!-- 病院名 -->
        <h1 th:text="${hospital.hospitalName}">病院名</h1>
        
        <!-- 病院住所 -->
        <p><strong>住所:</strong> <span th:text="${hospital.address}"></span></p>
        
        <!-- 病院電話番号 -->
        <p><strong>電話番号:</strong> <span th:text="${hospital.phone}"></span></p>
        
        <!-- 診療科目 -->
        <p><strong>診療科目:</strong> <span th:text="${hospital.specialities}"></span></p>
        
        <!-- 営業時間 -->
        <p><strong>営業時間:</strong> <span th:text="${hospital.hours}"></span></p>
        
        <!-- その他情報 -->
        <p><strong>備考:</strong> <span th:text="${hospital.notes}"></span></p>
        
        <!-- 戻るボタン -->
        <a href="/search-all-hospital" class="back-button">一覧に戻る</a>
    </div>
</body>
</html>