<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>病院一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <p>ユーザID:<span th:text="${session.userId}"></span></p>
    <hr>
    <h1>病院一覧</h1>
    <hr>

    <!-- 検索フォーム -->
     <form th:action="@{/search-hospital}" method="post" class="search_form">
        <input type="text" name="hospitalName" placeholder="病院名を検索">
        <input type="submit" value="検索">
    </form>
     <form th:action="@{/search-all-hospital}" method="get" class="search_form">
        <input type="submit" value="病院一覧へ">
    </form>
    <br>

    <!-- 病院情報の一覧 -->
    <table>
		<div th:if="${session.hosList}" !=null>
            <tr><th>病院ID</th><th>病院名</th><th>住所</th><th>ホームページ</th><th>詳細</th><th>写真</th></tr>
            <!-- 病院情報を繰り返し表示 -->
            <tr th:each="hosLists : ${session.hosList}">
                <td th:text="${hosLists.hospitalId}">病院ID</td>
                <td th:text="${hosLists.hospitalName}">病院名</td>
                <td th:text="${hosLists.address}">住所</td>
                <td>
                    <a th:href="${hosLists.url}" target="_blank">ホームページ</a>
                </td>
                <td>
                    <form th:action="@{/hos-detail}" method="POST">
						<input type="hidden" name="hospitalId" th:value="${hosLists.hospitalId}">
						<input type="submit" value="詳細を見る" class="hos_search_detail_btn">
					</form>
                </td>
                <td th:text="${hosLists.hospital_img}">写真</td>
            </tr>
		</div>
		
            <!-- 病院がない場合のメッセージ -->
            <tr th:if="${#lists.isEmpty(session.hosList)}">
                <td colspan="4">病院情報が見つかりません。</td>
            </tr>
    </table>
</body>
</html>
